@import "../styles/colors";

.Nav {
  border-bottom: 1px solid $border;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
  padding: 12px 0;

  a {
    background-size: cover;
    background-position: center;
    border-bottom: 1px solid $blue;
    border-radius: 4px;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    height: 55px;
    margin: 0 auto;
    text-indent: -9000px;
    transition: .2s linear;
    width: 110px;

    &.active,
    &:hover {
      border-color: $red;
      box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    }
  }

  a.ps {
    background-image: url('../assets/ps-grey.png');
  }
  a.em {
    background-image: url('../assets/em-grey.png');
  }
  a.lr {
    background-image: url('../assets/lr-grey.png');
  }
  a.fn {
    background-image: url('../assets/fn-grey.png');
  }
}
