@import "../styles/colors";

.Category {
  h3 {
    background: #fff;
    border-bottom: 1px solid $border;
    border-top: 1px solid $border;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
    color: $secondary;
    font-weight: 400;
    line-height: 40px;
    margin: 80px 0 0;
    text-align: center;
    text-transform: uppercase;

    @media (max-width: 991px) {margin-top: 50px;}

    @media (max-width: 767px) {margin: 30px 0 20px;}

    i {padding-right: 4px;}
  }

  .subtitle {
    text-align: center;
    margin: 40px 0 20px;

    @media (max-width: 991px) {margin: 30px 0 25px;}

    @media (max-width: 767px) {margin: 10px 0 30px;}

    span {
      background: #fff;
      border-bottom: 1px solid $border;
      border-radius: 4px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
      display: inline-block;
      line-height: 35px;
      padding: 0 20px;
    }
  }

  .proposal,
  .tldr {
    padding: 10px 30px;

    @media (max-width: 991px) {padding: 10px 15px;}
    @media (max-width: 767px) {padding: 10px 0;}
  }

  blockquote {
    border-left: 2px solid $border;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    line-height: 24px;
    margin: 0 0 15px;
    padding: 0 25px;
    position: relative;

    @media (max-width: 991px) {
      font-size: 14px;
      padding: 0 20px;
    }
  }

  .ref {
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 15px;
    text-align: right;

    a {
      color: $link;
      text-decoration: none;

      &:hover {text-decoration: underline;}
    }
  }

  .candidat {
    display: none;
    text-align: left !important;

    @media (max-width: 767px) {display: block;}
  }

  .tldr {
    font-size: 18px;

    @media (max-width: 991px) {font-size: 16px;}
    @media (max-width: 767px) {
      font-size: 15px;
      margin-bottom: 25px;
    }

    i {padding-right: 6px;}
  }

  strong {font-weight: 500;}

  &#work {
    h3,
    .subtitle,
    .tldr i {color: $darkred;}

    h3,
    blockquote {border-color: $darkred;}
  }

  &#agriculture {
    h3,
    .subtitle,
    .tldr i {color: $orange;}

    h3,
    blockquote {border-color: $orange;}
  }

  &#ecology {
    h3,
    .subtitle,
    .tldr i {color: $green;}

    h3,
    blockquote {border-color: $green;}
  }

  &#health {
    h3,
    .subtitle,
    .tldr i {color: $cblue;}

    h3,
    blockquote {border-color: $cblue;}
  }

}
