@import "../styles/colors";

.Category {
  margin-bottom: 100px;

  h3 {
    background: #fff;
    border-bottom: 1px solid $border;
    border-top: 1px solid $border;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
    color: $secondary;
    font-weight: 400;
    line-height: 40px;
    margin: 40px 0 0;
    text-align: center;
    text-transform: uppercase;

    @media (max-width: 767px) {margin: 30px 0 20px;}

    i {padding-right: 4px;}
  }

  .teasing {
    border-radius: 4px;
    color: #fff;
    margin: 40px auto 0;
    padding: 10px;
    text-align: center;
    width: 75%;
  }

  @each $name, $color in $themes {
    &##{$name} {
      h3,
      .subtitle,
      .subtitle a,
      .none,
      .tldr i,
      .more button,
      strong {color: $color;}

      h3,
      blockquote,
      .more button,
      .none {border-color: $color;}

      .subtitle:after {background: $color;}

      .teasing {background: $color;}
    }
  }
}
