@import "../styles/colors";

.Category {
  h3 {
    background: #fff;
    border-bottom: 1px solid $border;
    border-top: 1px solid $border;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
    color: $secondary;
    font-weight: 400;
    line-height: 40px;
    margin: 40px 0 0;
    text-align: center;
    text-transform: uppercase;

    @media (max-width: 767px) {margin: 30px 0 20px;}

    i {padding-right: 4px;}
  }

  .sticky.category {
    top: 151px;

    @media (max-width: 991px) {top: 154px;}
  }

  &#constitution {
    h3,
    .subtitle,
    .none,
    .tldr i,
    .more button,
    strong {color: $darkred;}

    h3,
    blockquote,
    .more button,
    .none {border-color: $darkred;}
  }

  &#agriculture {
    h3,
    .subtitle,
    .tldr i {color: $orange;}

    h3,
    blockquote {border-color: $orange;}
  }

  &#ecology {
    h3,
    .subtitle,
    .tldr i {color: $green;}

    h3,
    blockquote {border-color: $green;}
  }

  &#health {
    h3,
    .subtitle,
    .tldr i {color: $cblue;}

    h3,
    blockquote {border-color: $cblue;}
  }
}
