@import "../styles/colors";

.Versus {
  padding-bottom: 80px;
  margin: 50px 0 180px;

  @media (max-width: 991px) {margin-top: 40px;}
  @media (max-width: 767px) {margin: 15px 0 0;}

  &::before {
    border-left: 2px dashed $border;
    content: '';
    display: block;
    height: 100%;
    left: 50%;
    margin-left: -1px;
    margin-top: 85px;
    position: absolute;
    width: 0;
    z-index: -1;

    @media (max-width: 767px) {display: none;}
  }

  .sticky {
    background: #fff;
    margin-left: -10px;
    opacity: 0;
    padding: 0 10px;
    position: fixed;
    top: 0;
    width: 920px;
    z-index: 1000;

    @media (max-width: 1199px) {width: 770px;}
    @media (max-width: 991px) {width: 595px;}

    &.visible {opacity: 1;}

    &.versus {padding-top: 20px;}

    &.versus::after {
      border-left: 2px dashed $border;
      content: '';
      display: block;
      height: 86px;
      left: 50%;
      margin-left: -1px;
      position: absolute;
      bottom: -40px;
      width: 0;

      @media (max-width: 991px) {
        height: 86px;
        bottom: -40px;
      }
    }
  }

  .categories {
    margin-top: 30px;
    position: relative;
    z-index: 10;
  }
}
