@import "../styles/colors";

.Versus {
  padding-bottom: 80px;
  margin: 50px 0 180px;

  @media (max-width: 991px) {margin-top: 40px;}
  @media (max-width: 767px) {margin: 15px 0 0;}

  &::before {
    border-left: 2px dashed $border;
    content: '';
    display: block;
    height: 100%;
    left: 50%;
    margin-left: -1px;
    margin-top: 85px;
    position: absolute;
    width: 0;
    z-index: -1;

    @media (max-width: 767px) {display: none;}
  }

  .stickyHeader {
    left: 0;
    position: fixed;
    top: 0;
    transform: translateY(-90px);
    transition: .2s;
    width: 100%;
    z-index: 1000;

    &.visible {transform: translateY(0);}

    .Menu {
      margin-top: -1px;

      .open-menu {border-bottom-right-radius: 4px;}
    }
  }

  .categories {
    margin-top: 30px;
    position: relative;
    z-index: 10;
  }
}
