$main: #515151;
$secondary: #999;
$link: #02b0f4;
$border: #ddd;

$blue: #23B9D0;
$darkblue: #0098B6;
$red: #E23D22;
$darkred: #C9462C;

$purple: #b92e66;
$orange: #ec8b00;
$green: #32bf7c;
$yellow: #f8b81b;
$deepblue: #3b78dd;
$brown: #B45F06;

$themes: (
  constitution: $red,
  work: $blue,
  justice: $deepblue,
  education: $purple,
  ecology: $green,
  international: darken($green, 10%),
  society: $yellow,
  culture: $orange,
  territory: $brown,
  taxation: $secondary,
);
