$main: #515151;
$secondary: #999;
$link: #02b0f4;
$border: #ddd;

$blue: #23B9D0;
$darkblue: #0098B6;
$red: #E23D22;
$darkred: #C9462C;

$themes: (
  constitution: $darkred,
  justice: $blue
);

// $orange: #ec8b00;
// $green: #32bf7c;
// $blue: #3b78dd;
