$main: #515151;
$secondary: #999;
$link: #02b0f4;
$border: #ddd;

$blue: #23B9D0;
$darkblue: #0098B6;
$red: #E23D22;
$darkred: #C9462C;

$purple: #b92e66;
$yellow: #ec8b00;
$green: #32bf7c;

$themes: (
  constitution: $darkred,
  justice: $blue,
  education: $purple,
  territory: $yellow
);


// $blue: #3b78dd;
